<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit Campground</title>
</head><a href="/campgrounds/>back to campgrounds</a>
<body> -->
<% layout('/layouts/Boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            Edit Campground
        </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label> <!--array or the collection eg below-->
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        looks good!!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">location</label> <!--array or the collection eg below-->
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%= campground.location %>" required>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input form-control" id="images" name="image" multiple>
                    <label class="custom-file-label" for="images"></label>
                  </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" id="price" placeholder="0.00" class="form-control" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="campground[description]" id="description" cols="10" rows="10" class="form-control"
                        required> <%= campground.description %></textarea>
                </div>
                
                <div class="mb-3">
                    <% campground.images.forEach(function(img,i){ %>
                        <img src="<%= img.thumbnail %>"class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">delete</label>
                   <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">update Campground</button>


                </div>
                <a href="/campgrounds/<%= campground._id %>">back to campgrounds</a>


            </form>
        </div>
    </div>
    <!--     
</body>
</html> -->